{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    {% if post.author.last_name %}
    {{ post.author.last_name }} {{ post.author.first_name }}<br />
    {% else %}
    Unknow author<br />
    {% endif %}
    {% if post.time_created == post.time_updated %}
    {{ post.time_created|time:"H:i" }} {{post.time_created|date:"l d.m.y"}}
    {% else %}
    <b>Updated </b>{{ post.time_updated|time:"H:i" }} {{post.time_updated|date:"l d.m.y"}}
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    <a href="{% url 'update' post.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'del' post.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endblock %}