{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="list-group">
    <h1 class="card-title">New posts</h1>
    {% for post in posts %}
    <a href="{% url 'detail' post.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title }}</h5>
            <small class="text-body-secondary">{{ post.time_created|time:"H:i" }}
                {{post.time_created|date:"l d.m.y"}}</small>
        </div>
        <p class="mb-1">{{ post.content|truncatewords:50 }} </p>
        <small class="text-body-secondary">{{ post.author.last_name }} {{ post.author.first_name }}</small>
    </a>
    {% endfor %}
</div>
{% endblock %}